{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title_name }}
{% endblock %}

{% block body %}
<div align = "center">
    <h2>You can make changes in the contents below</h2>
    <form action="/wiki/{{ title_name }}" method="post">
        {% csrf_token %}
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" style="width:800px;" name="editedtext" >{{ name }}</textarea>
        <button class="btn btn-primary" type="submit">Save the changes you made</button>
    </form>
</div>

{% endblock %}